.usInNumbers {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--usInNumbers-bg-color);
    align-items: center;
    padding: 3rem 0;
    gap: 0.5rem;
}

.usInNumbers h4 {
    color: var(--usInNumbers-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.usInNumbers h2 {
    color: var(--usInNumbers-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.usInNumbers span {
    color: var(--usInNumbers-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.usInNumbersBoxes {
    display: flex;
    flex-direction: row;
    width: 85%;
    background-color: var(--usInNumbers-bg-color);
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.usInNumbersBox {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--usInNumbers-bg-color);
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .usInNumbersBoxes {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }

    .usInNumbersBox {
        width: 80%;
        margin-bottom: 1rem;
        border-bottom: 1px solid #fff;
        padding-bottom: 1rem;
    }
}

/* BE HELPER DIV */

.beHelper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.beHelperFirstBox {
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: var(--beHelperFirstBox-bg-color);
    padding: 4rem;
    gap: 1rem
}

.beHelperFirstBox h4 {
    color: var(--usInNumbers-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.beHelperFirstBox span {
    color: var(--beHelperSecondBox-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.beHelperSecondBox {
    width: 34%;
    display: flex;
    flex-direction: column;
    background-color: var(--beHelperSecondBox-bg-color);
    padding: 3rem;
    gap: 1.5rem
}

.beHelperThirdBox {
    width: 33%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.logoImage {
    object-fit: cover;
}

.playBtn {
    display: flex;
    position: relative;
    z-index: 5;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.playBtn::before,
.playBtn::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
    animation: wave 3.5s infinite;
}

.playBtn::after {
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: scale(3);
        opacity: 0;
        box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0);
    }
}

.beHelperButton {
    width: 60%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

.beHelperButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--button-bg-hover-color);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 0;
}

.beHelperButton:hover::before {
    transform: translateX(0);
}

.beHelperButton span {
    position: relative;
    z-index: 1;
    color: var(--beHelperSecondBox-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.beHelperSecondBoxLine {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.beHelperSecondBoxLine h4 {
    color: var(--usInNumbers-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.beHelperSecondBoxLine span {
    color: var(--beHelperSecondBox-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.beHelperSecondBoxLineIcon {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.5rem;
}

.beHelperSecondBoxLineInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.iconDiv {
    display: flex;
    background-color: #fff;
    width: 65%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 50px;
}

@media (max-width: 768px) {
    .beHelper {
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .beHelperFirstBox {
        width: 100%;
        padding: 4rem 2.5rem;
    }

    .beHelperSecondBox {
        width: 100%;
    }

    .beHelperThirdBox {
        width: 100%;
        height: 20rem;
    }

    .beHelperButton {
        width: 100%;
    }

}
/* BE HELPER DIV */




/* EDUCATION PROGRAMS DIV */
.educationPrograms {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--educationPrograms-bg-color);
    align-items: center;
    padding: 3rem 0;
    gap: 0.5rem;
    margin-top: 2rem;
}

.educationPrograms h4 {
    color: var(--home-h4-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.educationPrograms h2 {
    color: var(--home-h2-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.educationProgramsBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 2rem;
}



@media (max-width: 768px) {
    .educationProgramsBoxes {
        flex-direction: column;
        gap: 2rem
    }
    .educationPrograms {
        text-align: center;
    }
}

/* EDUCATION PROGRAMS DIV */


/* ABOUT US DIV */
.aboutUs {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--aboutUs-bg-color);
    padding: 8rem 4rem;
    justify-content: space-around;
}

.aboutUs h4 {
    color: var(--home-h4-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.aboutUs h2 {
    color: var(--home-h2-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.aboutUs span {
    color: var(--aboutUs-text-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.aboutUsImg {
    width: 30%;
    position: relative;
    height: auto;
}

.aboutUsContent {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.aboutUsSupport {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.supportInfo {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.aboutUsButton {
    width: 50%;
    padding: 1rem;
    background-color: var(--aboutUs-button-bg-color);
    color: var(--aboutUs-text-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

.aboutUsButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--aboutUs-button-bg-hover-color);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 0;
}

.aboutUsButton:hover::before {
    transform: translateX(0);
}

.aboutUsButton span {
    position: relative;
    z-index: 1;
    color: var(--aboutUs-button-text-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.aboutUsButton:hover span {
    color: var(--aboutUs-button-hover-text-color);
}

.supportNo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supportNo h4 {
    color: var(--home-h2-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.supportNo span {
    color: var(--home-h4-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

@media (max-width: 768px) {
    .aboutUs {
        flex-direction: column;
        gap: 2rem;
        padding: 6rem 2rem;
    }

    .aboutUsContent {
        width: 100%;
    }

    .aboutUsImg {
        width: 100%;
        position: relative;
        height: 15rem;
    }

    .aboutUsSupport {
        flex-direction: column;
        gap: 2rem;
    }

    .supportInfo {
        width: 100%;
    }

    .aboutUsButton {
        width: 100%;
    }
}

/* ABOUT US DIV */

/* MAIN TOP DIV */
.mainTop {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    margin-top: 100px;
}

.imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out; /* Geçiş sırasında opacity değişimi */
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

.overlayContent {
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
}

.title {
    width: 70%;
    font-size: 20px; 
    margin-bottom: 20px;
    opacity: 0;
    animation: slideIn 1s forwards;
    font-family: 'Poppins', sans-serif;
    justify-content: flex-start;
    font-weight: 700;
}

.description {
    width: 70%;
    font-size: 30px;
    opacity: 0;
    animation: slideIn 1s forwards 1s;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    justify-content: flex-start;
    font-weight: 700;
}

.imageContainer:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.overlayButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    gap: 4rem;
    margin-top: 2rem;
}
.mainTopButton {
    width: 40%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--aboutUs-button-bg-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.mainTopButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--contact-btn-hover-color);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 0;
}

.mainTopButton:hover::before {
    transform: translateX(0);
}

.mainTopButton span {
    position: relative;
    z-index: 1;
    color: var(--beHelperSecondBox-color);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.mainTopButton2 {
    width: 40%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--contact-btn-hover-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.mainTopButton2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--aboutUs-button-bg-color);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 0;
}

.mainTopButton2:hover::before {
    transform: translateX(0);
}

.mainTopButton2 span {
    position: relative;
    z-index: 1;
    color: var(--beHelperSecondBox-color);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .overlayContent {
        width: 100%;
        padding-left: 2rem;
        justify-content: center;
        align-items: center;
    }
    .overlayButtons {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        align-items: flex-start;
    }

    .title {
        width: 100%;
        font-size: 18px;
    }

    .description {
        width: 100%;
        font-size: 22px;
        line-height: 45px;
    }
    .mainTopButton,
    .mainTopButton2 {
        width: 80%;
    }
    .mainTop {
        height: 80vh;
    }
}
/* MAIN TOP DIV */

/* PROFESSIONAL CREW DIV */
.professionalCrew {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--professionalCrew-bg-color);
    align-items: center;
    padding: 3rem 0;
    gap: 0.5rem;
}

.professionalCrew h4 {
    color: var(--home-h4-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.professionalCrew h2 {
    color: var(--home-h2-color);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.professionalCrewBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 2rem;
}

@media (max-width: 768px) {
    .educationProgramsBoxes {
        flex-direction: column;
        gap: 2rem
    }
}



/* PHOTOS DIV */

.photos {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--aboutUs-bg-color);
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.photos h4 {
    color: var(--home-h4-color);
    text-decoration: none;
    font-family: "Alegreya", sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.photos span {
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.photoGalleryDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 25%;
    height: 20rem;
    margin-top: 2rem;
    background-color: var(--contact-btn-hover-color);
    padding: 2.5rem;
}

.photoGalleryDescription h4 {
    color: var(--aboutUs-button-bg-color);
}

.photosBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}



@media (max-width: 768px) {
    .photosBoxes {
        flex-direction: column;
    }

    .photoGalleryDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 2.5rem;
    }
}


/* PHOTOS DIV */